<h1>Hi! Thank you for registration!</h1>

<p>
    Dear, {{ user.getFullName() }}, <br><br>
    Your login
    <b>{{ user.getEmail() }},</b>
    <br><br>
    Password
    <b>{{ password }}</b>
</p>

<p>
    Cheers!
</p>
